S3method(as.matrix,annmatrix)
S3method(print,annmatrix)
S3method("[",annmatrix)
S3method("$",annmatrix)
S3method("$<-",annmatrix)
S3method("@",annmatrix)
S3method("@<-",annmatrix)
S3method(.AtNames,annmatrix)
S3method(.DollarNames,annmatrix)
S3method(t,annmatrix)
S3method("%*%",annmatrix)
S3method(prcomp,annmatrix)
S3method(stack,annmatrix)
S3method(Ops,annmatrix)
S3method(chooseOpsMethod,annmatrix)
export(annmatrix)
export(is.annmatrix)
export(rowanns)
export("rowanns<-")
export(colanns)
export("colanns<-")
importFrom(utils, stack)
importFrom(utils, .AtNames)
importFrom(utils, .DollarNames)
importFrom(utils, findMatches)
importFrom(utils, .S3methods)
importFrom(methods, callGeneric)
importFrom(stats, prcomp)
